[submodule "ebutuoy"]
	path = ebutuoy
	url = https://github.com/ruochenjia/ebutuoy.git
[submodule "vmlinux"]
	path = vmlinux
	url = https://github.com/ruochenjia/vmlinux.git
[submodule "html5-games/greedy-shark"]
	path = html5-games/greedy-shark
	url = https://github.com/ruochenjia/Greedy-Shark.git
