@import url("common.css");

#error, noscript>div {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	padding: 5px;
	margin: 20px auto;
	border: 3px solid #ff0000;
	background: #ffffff;
	line-height: 20px;
	letter-spacing: 0px;
}

#error {
	display: none;
}

#navigation-bar {
	position: absolute;
	display: block;
	width: 100%;
	height: 50px;
	cursor: default;
	user-select: none;
}

#logo {
	position: absolute;
	display: block;
	width: 200px;
	height: 50px;
	left: 10px;
	background-image: url("res/logo.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#version {
	position: absolute;
	display: block;
	width: 120px;
	height: 30px;
	top: 10px;
	left: 220px;
	color: #808080;
	cursor: default;
	font-size: 12px;
	text-align: start;
	line-height: 30px;
	letter-spacing: 0px;
}

#nav-bar {
	position: absolute;
	display: block;
	right: 0px;
	width: auto;
	height: 30px;
	padding: 10px;
}

#nav-bar>button {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: 20px;
	padding: 6px 0px 2px;
	margin: 0px 10px;
	color: #808080;
	border: none;
	z-index: -10;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	letter-spacing: -1px;
}

#nav-bar>button:hover {
	color: #a0a0a0;
}

#nav-bar>button:active {
	color: #c0c0c0;
}

#nav-bar>button[current] {
	color: #303030;
	font-weight: 600;
}

#accn-btn::before {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	padding: 0px 5px;
	content: "ï¿½";
	border-left: 3px solid #808080;
}

#content {
	position: absolute;
	display: block;
	width: calc(100% - 20px);
	height: calc(100% - 90px);
	bottom: 0px;
	padding: 20px 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

#content>h1 {
	display: none;
}

#content>div:not(#footer) {
	position: relative;
	display: none;
	width: 760px;
	height: fit-content;
	padding: 20px;
	margin: 10px auto 20px;
}

#content>div:not(#footer)[current] {
	display: block;
}

#content>div:not(#footer)>h1 {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	padding: 10px;
	margin: 80px auto 40px;
}

#large-logo {
	position: relative;
	display: block;
	width: 512px;
	height: 128px;
	margin: 120px auto 20px;
	background-image: url("res/logo.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

@media all and (max-width: 512px) {
	#large-logo {
		width: 100%;
		height: unset;
		aspect-ratio: 4/1;
	}
}

#text-body {
	position: relative;
	display: block;
	width: calc(100% - 10px);
	height: fit-content;
	padding: 5px;
}

#text-body>*, #footer-links>* {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin: 10px 0px;
	line-height: 1;
	letter-spacing: 0px;
}

#text-body>h2 {
	font-size: 20px;
	line-height: 28px;
}

#text-body>h3, #footer-links>h3 {
	font-size: 18px;
	line-height: 28px;
}

#text-body>hr {
	margin: 3px 0px 10px;
	border: none;
	border-bottom: 1px solid #c0c0c0;
}

#text-body>p {
	line-height: 18px;
}

#text-body>a {
	width: fit-content;
}

#text-body>code {
	position: relative;
	display: block;
	width: calc(100% - 20px);
	height: fit-content;
	padding: 10px;
	outline: none;
	font-size: 10px;
	font-family: monospace;
	line-height: 10px;
	letter-spacing: -1px;
	overflow-wrap: break-word;
}

#text-body>button {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	padding: 15px 20px;
	margin: 10px 15px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: 1px solid #808080;
	border-radius: 25px;
	box-shadow: 2px 2px #808080;
	background: #005a5a;
}

#text-body>button:focus {
	border-color: #323232;
}

#text-body>button:active {
	box-shadow: -2px -2px #808080;
}

#games-page>input {
	position: relative;
	display: block;
	width: 300px;
	height: 20px;
	margin: 10px auto 30px;
	padding: 5px 10px;
	outline: none;
	line-height: 20px;
	letter-spacing: 0px;
	border: 1px solid #808080;
	border-radius: 15px;
}

#games-page>input:focus {
	border-color: #005a5a;
}

#game-container {
	position: relative;
	display: flex;
	width: 100%;
	height: fit-content;
	margin: 30px 0px;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 10px;
}

#game-container>div {
	position: relative;
	display: block;
	width: 140px;
	height: 140px;
	flex: 0 0 140px;
	cursor: pointer;
	box-shadow: 2px 5px 5px #808080;
	border-radius: 15px;
	background-color: #f0f0f0;
	background-position: 0px 0px;
	background-size: 140px 105px;
	background-repeat: no-repeat;
}

#game-container>div>label {
	position: relative;
	display: block;
	width: 45px;
	height: 16px;
	margin: 5px 2px 2px 88px;
	padding: 2px 5px;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 16px;
	border-radius: 5px;
	text-transform: uppercase;
}

#game-container>div>div {
	position: absolute;
	display: block;
	width: 130px;
	height: 25px;
	padding: 5px;
	top: 105px;
	color: #606060;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	letter-spacing: 0px;
}

#game-notice {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin: 30px 0px 10px;
	color: #808080;
	font-style: italic;
	line-height: 18px;
}

#game-disclaimer {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin: 20px 0px;
	color: #808080;
	font-size: 12px;
	line-height: 16px;
}

#submit-game {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	padding: 15px 20px;
	margin: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: 1px solid #808080;
	border-radius: 25px;
	box-shadow: 2px 2px #808080;
	background: #005a5a;
}

#submit-game:focus {
	border-color: #323232;
}

#submit-game:active {
	box-shadow: -2px -2px #808080;
}

#services-page>h2 {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	margin: 10px 0px 15px;
	font-size: 18px;
	line-height: 24px;
}

#services-page>hr {
	margin: 10px 0px 30px;
	border: none;
	border-bottom: 1px solid #c0c0c0;
}

#unbl-search {
	position: relative;
	display: block;
	width: 500px;
	height: 25px;
	margin: 20px auto;
	padding: 10px 25px;
	font-size: 16px;
	line-height: 25px;
	outline: none;
	border: 1px solid #808080;
	border-radius: 25px;
}

#unbl-search:focus {
	border-color: #005a5a;
}

@media all and (max-width: 552px) {
	#unbl-search {
		width: calc(100% - 52px);
	}
}

#unbl-buttons, #unbl-options {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	margin: 20px auto;
}

#unbl-options>label {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	padding: 0px 0px 0px 10px;
	color: #808080;
}

#unbl-options>select, #unbl-options>input, #unbl-buttons>button {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	margin: 5px;
	padding: 5px;
	outline: none;
	border: 1px solid #808080;
	border-radius: 25px;
}

#unbl-options>select:focus, #unbl-options>input:focus, #unbl-buttons>button:focus {
	border-color: #005a5a;
}

#unbl-options>input:disabled {
	border-color: #c0c0c0;
	background: #f0f0f0;
}

#unbl-buttons>button:hover {
	background: #f0f0f0;
}

#unbl-buttons>button:active {
	background: #e0e0e0;
}

#yt-search-bar {
	position: relative;
	display: flex;
	width: 500px;
	height: 40px;
	margin: 50px auto 10px;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: 10px;
}

@media all and (max-width: 500px) {
	#yt-search-bar {
		width: 90%;
	}
}

#yt-search-bar>input {
	position: relative;
	display: block;
	width: calc(80% - 32px);
	height: 30px;
	padding: 4px 15px;
	font-size: 16px;
	line-height: 30px;
	outline: none;
	border: 1px solid #808080;
	border-radius: 25px;
}

#yt-search-bar>input:focus {
	border-color: #005a5a;
}

#yt-search-bar>button {
	position: relative;
	display: block;
	width: calc(20% - 12px);
	height: 38px;
	cursor: pointer;
	outline: none;
	border: 1px solid #808080;
	border-radius: 25px;
	box-shadow: 2px 2px #808080;
	background-color: #005a5a;
	background-image: url("res/search-w.svg");
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: center;
}

#yt-search-bar>button:focus {
	border-color: #323232;
}

#yt-search-bar>button:active {
	box-shadow: -2px -2px #808080;
}

#yt-option-bar {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	margin: 10px auto;
}

#yt-option-bar>label {
	color: #808080;
	line-height: 20px;
}

#yt-option-bar>input, #yt-option-bar>select {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: 20px;
	padding: 1px 2px;
	line-height: 20px;
	color: #808080;
	outline: none;
	border: 1px solid #d0d0d0;
}

#yt-option-bar>input:focus, #yt-option-bar>select:focus, #yt-load-more {
	border-color: #005a5a;
}

#yt-results {
	position: relative;
	display: block;
	width: calc(100% - 40px);
	height: fit-content;
	margin: 10px auto;
	padding: 20px;
}

#yt-results>div {
	position: relative;
	display: flex;
	width: calc(100% - 20px);
	height: fit-content;
	margin: 10px 0px;
	padding: 10px;
	cursor: pointer;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: 10px;
}

#yt-results>div>img {
	position: relative;
	display: block;
	width: 160px;
	height: 90px;
	flex: 0 0 160px;
}

#yt-results>div>div {
	position: relative;
	display: block;
	width: calc(100% - 170px);
	height: fit-content;
}

#yt-results>div>div>.title {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin: 10px 0px;
	color: #303030;
	font-weight: 600;
	line-height: 18px;
}

#yt-results>div>div>.desc {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin: 10px 0px 5px;
	color: #808080;
	font-weight: 400;
	line-height: 16px;
}

#yt-results>div>div>.time {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin: 5px 0px;
	color: #c0c0c0;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

#yt-load-more {
	position: relative;
	display: none;
	width: fit-content;
	height: fit-content;
	margin: 30px auto;
	padding: 10px 15px;
	cursor: pointer;
	outline: none;
	border: 1px solid #808080;
	border-radius: 25px;
}

#yt-load-more:hover {
	background: #f0f0f0;
}

#yt-load-more:active {
	background: #e0e0e0;
}

#yt-api-info {
	position: relative;
	display: block;
	width: calc(100% - 10px);
	height: fit-content;
	padding: 5px;
	margin: 20px 0px 10px;
	color: #808080;
}

#yt-api-info>p {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

#yt-api-info>input {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	outline: none;
	border: 1px solid #808080;
}

#search-container {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

#webemu-container {
	position: relative;
	display: block;
	width: 1200px;
	height: 1000px;
	margin: 0px -220px;
	overflow: hidden;
}

#webemu-container>embed {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

#console {
	position: relative;
	display: block;
	width: calc(100% - 22px);
	height: 400px;
	padding: 10px;
	color: #323232;
	font-size: 14px;
	font-family: "Ubuntu Mono", monospace;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #323232;
	background: #f0f0f0;
}

#console-output {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	tab-size: 4;
	line-height: 18px;
	letter-spacing: 0px;
	overflow: hidden;
	overflow-wrap: break-word;
}

#console-output>hr {
	border: none;
	border-bottom: 1px solid #c0c0c0;
}

#console-input {
	position: relative;
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	letter-spacing: 0px;
}

#console-input>div {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	color: #808080;
	font-size: 16px;
	line-height: 20px;
}

#console-input>input {
	position: absolute;
	display: block;
	width: calc(100% - 26px);
	height: 20px;
	padding: 0px 3px;
	left: 20px;
	border: none;
	outline: none;
	tab-size: 4;
	line-height: 20px;
	letter-spacing: -1px;
}

#community-page>embed {
	position: relative;
	display: block;
	width: 120%;
	height: unset;
	margin: 10px -10%;
	aspect-ratio: 16/9;
}

#footer {
	position: relative;
	display: block;
	width: 760px;
	height: fit-content;
	margin: 40px auto 0px;
	padding: 20px 20px 40px;
	border-top: 1px solid #808080;
}

#footer-links {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	margin: 15px 0px;
}

#footer-base {
	position: relative;
	display: flex;
	width: 100%;
	height: fit-content;
	margin: 15px 0px;
	flex-direction: row;
	flex-wrap: wrap;
	color: #808080;
	cursor: default;
	align-items: center;
	justify-content: space-around;
}

#footer-base>div {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	padding: 5px;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	line-height: 20px;
	letter-spacing: 0px;
}

@media all and (max-width: 800px) {
	#content>div:not(#footer), #footer {
		width: calc(100% - 40px);
	}

	#community-page>embed {
		width: calc(100% + 10px);
		margin: 10px -5px;
		aspect-ratio: 9/18;
	}
}

#frame-view, #video-frame {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.7);
	user-select: none;
}

#frame {
	position: relative;
	display: block;
	width: 1280px;
	height: 720px;
	overflow: hidden;
	background: #ffffff;
}

@media (max-width: 1300px) and (orientation: landscape) {
	#frame {
		width: 90%;
		height: unset;
		aspect-ratio: 16/9;
	}
}

@media (max-width: 1300px) and (orientation: portrait) {
	#frame {
		width: 90%;
		height: unset;
		aspect-ratio: 9/16;
	}
}


#frame>embed {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}

#frame-close, #video-close {
	position: absolute;
	display: block;
	width: 48px;
	height: 48px;
	top: 20px;
	right: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background-image: url("res/close-w.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#frame-newtab, #video-fullscreen {
	position: absolute;
	display: block;
	width: 48px;
	height: 48px;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.7);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#frame-newtab {
	background-image: url("res/newtab-w.svg");
}

#video-fullscreen {
	background-image: url("res/fullscreen-w.svg");
}

#video {
	position: relative;
	display: block;
	width: 800px;
	height: 600px;
	overflow: hidden;
	background: #000000;
}

@media all and (max-width: 850px) {
	#video {
		width: 95%;
		height: unset;
		aspect-ratio: 4/3;
	}
}

#video>iframe {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}

#submit-game-frame {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.7);
}

#submit-game-frame>div {
	position: relative;
	display: block;
	width: 300px;
	height: fit-content;
	padding: 20px;
	margin: 70px auto;
	border: 1px solid #ffffff;
	border-radius: 10px;
	background: #ffffff;
}

#submit-game-frame>div>h3 {
	position: relative;
	display: block;
	width: 300px;
	height: 24px;
	margin: 10px 0px;
	font-size: 18px;
	text-align: center;
	line-height: 24px;
}

#submit-game-frame>div>label {
	position: relative;
	display: block;
	width: 300px;
	height: 18px;
	margin: 5px 0px 2px;
	line-height: 18px;
}

#submit-game-frame>div>input {
	position: relative;
	display: block;
	width: 288px;
	height: 18px;
	padding: 3px 5px;
	outline: none;
	line-height: 18px;
	border: 1px solid #808080;
	border-radius: 10px;
}

#submit-game-frame>div>input:focus {
	border-color: #005a5a;
}

#submit-game-frame>div>hr {
	margin: 10px 0px;
	border: 1px solid #808080;
}

#submit-game-frame>div>div {
	position: relative;
	display: block;
	width: 300px;
	height: fit-content;
	margin: 5px 0px;
	font-size: 12px;
	line-height: 18px;
}

#submit-game-frame>div>button {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 18px;
	padding: 5px;
	margin: 0px 15px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	line-height: 18px;
	border: 1px solid #808080;
	border-radius: 10px;
	box-shadow: 2px 2px #808080;
	background: #005a5a;
}

#submit-game-frame>div>button:focus {
	border-color: #323232;
}

#submit-game-frame>div>button:active {
	box-shadow: -2px -2px #808080;
}

#error-msg {
	position: relative;
	display: none;
	width: 276px;
	height: fit-content;
	padding: 10px;
	margin: 10px 0px;
	border: 2px solid #ff0000;
	border-radius: 10px;
	line-height: 18px;
	letter-spacing: 0px;
}
