body {
	color: #e0e0e0;
	background: #202020;
}

option, optgroup {
	background: #404040;
}

.text-body, #game-category, #game-navigator {
	border-color: #606060;
	background: #404040;
}

#navigation-bar {
	background: #404040;
}

#nav-bar>button, #game-category>button {
	color: #d0d0d0;
}

#nav-bar>button[current], #game-category>button[current] {
	color: #ffffff;
}

#hamb>div, #hamb>div::before, #hamb>div::after {
	background: #ffffff;
}

#game-search>button, #yt-search>button {
	background-image: url("res/search-w.svg");
}

#game-container>a {
	border-color: #606060;
	background-color: #404040;
}

#history, #sidemenu, #header {
	background: #404040;
}

#new-chat {
	background-image: url("res/new-chat-w.svg");
}

#cg-close {
	background-image: url("res/close-w.svg");
}

#history>div>div>button {
	background-image: url("res/delete-w.svg");
}

#cg-chat, #chat {
	background: #202020;
}

#chatgpt>button {
	background-image: url("res/send-w.svg");
}

#server-name, #account {
	background: #505050;
}

#server-name>button {
	background-image: url("res/close-w.svg");
}

#menu {
	background-image: url("res/menu-w.svg");
}

#emoji {
	background-image: url("res/emoji-w.svg");
}

#ufile {
	background-image: url("res/add-file-w.svg");
}

#unbl-content {
	background: #202020;
}

#tab-bar {
	background: #303030;
}

#tabs>div[current], #toolbar {
	background: #404040;
}

#new-tab {
	background-image: url("res/add-w.svg");
}

#tabs>div>button {
	background-image: url("res/close-w.svg");
}

#back {
	background-image: url("res/back-w.svg");
}

#forward {
	background-image: url("res/forward-w.svg");
}

#refresh {
	background-image: url("res/refresh-w.svg");
}

#yt-load-more:hover, #new-tab:hover, #tabs>div>button:hover, #back:hover, #forward:hover, #refresh:hover, #delmsg:hover, #new-chat:hover, #cg-close:hover, #menu:hover, #history>div>div:hover, #channels>div:hover {
	background-color: #606060;
}

#yt-load-more:active, #new-tab:active, #tabs>div>button:active, #back:active, #forward:active, #refresh:active, #delmsg:active, #new-chat:active, #cg-close:active, #menu:active, #history>div>div:active, #history>div>div[current], #channels>div:active, #channels>div[current] {
	background-color: #808080;
}

#address, #mode>select, #ac-prof {
	background: #202020;
}

#ac-edit {
	background-image: url("res/edit-w.svg");
}

#ac-link {
	background-image: url("res/link-w.svg");
}

#install {
	border: 1px solid #00c0c0;
	background: #202020;
}

#install:hover {
	background: #303030;
}

#install:active {
	background: #404040;
}

#install>span {
	color: #00c0c0;
}

#game {
	background: #404040;
}

@media all and (max-width: 800px) {
	#nav-bar {
		background: #404040;
	}
}
