body {
	color: #e0e0e0;
	background: #202020;
}

option, optgroup {
	background: #404040;
}

#logo, #banner {
	background-image: url("res/logo-w.svg");
}

.text-body, #game-category, #game-navigator {
	border-color: #606060;
	background: #404040;
}

#navigation-bar {
	background: #404040;
}

#version, #nav-bar>button, #game-category>button {
	color: #d0d0d0;
}

#nav-bar>button[data-current], #game-category>button[data-current] {
	color: #ffffff;
}

#hamb>span, #hamb>span::before, #hamb>span::after {
	background: #ffffff;
}

#game-search>button, #yt-search>button {
	background-image: url("res/search-w.svg");
}

#game-container>a {
	border-color: #606060;
	background-color: #404040;
}

#yt-results>div>div>.desc {
	color: #c0c0c0;
}

#yt-results>div>div>.time {
	color: #a0a0a0;
}

#sidemenu, #header {
	background: #404040;
}

#chatmode, #account {
	background: #505050;
}

#chatmode>button {
	color: #ffffff;
}

#global {
	background-image: url("res/global-w.svg");
}

#friends {
	background-image: url("res/friends-w.svg");
}

#chatgpt {
	background-image: url("res/gpt-w.svg");
}

#toggle {
	background-image: url("res/menu-w.svg");
}

#toggle[title="Close"] {
	background-image: url("res/back-w.svg");
}

#newchat {
	background-image: url("res/new-chat-w.svg");
}

#history>div>button {
	background-image: url("res/delete-w.svg");
}

#chat {
	background: #202020;
}

#emoji {
	background-image: url("res/emoji-w.svg");
}

#ufile {
	background-image: url("res/add-file-w.svg");
}

#unbl-content {
	background: #202020;
}

#tab-bar {
	background: #303030;
}

#tabs>div[data-current], #toolbar {
	background: #404040;
}

#new-tab {
	background-image: url("res/add-w.svg");
}

#tabs>div>button {
	background-image: url("res/close-w.svg");
}

#back {
	background-image: url("res/back-w.svg");
}

#forward {
	background-image: url("res/forward-w.svg");
}

#refresh {
	background-image: url("res/refresh-w.svg");
}

#yt-load-more:hover, #yt-results>div:hover, #new-tab:hover, #tabs>div>button:hover, #back:hover, #forward:hover, #refresh:hover, #chatmode>button:not([data-current]):hover, #toggle:hover, #newchat:hover, #history>div:hover, #channels>div:hover, #account-settings input~button:hover {
	background-color: #606060;
}

#yt-load-more:active, #yt-results>div:active, #new-tab:active, #tabs>div>button:active, #back:active, #forward:active, #refresh:active, #chatmode>button:not([data-current]):active, #toggle:active, #newchat:active, #history>div:active, #history>div>[data-current], #channels>div:active, #channels>div[data-current], #account-settings input~button:active {
	background-color: #808080;
}

#address, #mode>select, #ac-prof {
	background: #202020;
}

#account-settings .tick {
	background-image: url("res/tick-w.svg");
}

#account-settings .cross {
	background-image: url("res/close-w.svg");
}

#ac-edit, #ac-name-edit, #ac-email-edit {
	background-image: url("res/edit-w.svg");
}

#ac-link {
	background-image: url("res/link-w.svg");
}

#install {
	filter: brightness(200%);
	background: #101010;
}

#install:hover {
	background: #202020;
}

#install:active {
	background: #303030;
}

@media all and (max-width: 800px) {
	#nav-bar {
		background: #404040;
	}
}
