@import url("/common.css");

#search-bar {
	position: relative;
	display: flex;
	width: 500px;
	height: 40px;
	margin: 50px auto 10px;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: 10px;
}

@media all and (max-width: 500px) {
	#search-bar {
		width: 90%;
	}
}

#search-bar>input {
	position: relative;
	display: block;
	width: calc(80% - 32px);
	height: 30px;
	padding: 4px 15px;
	font-size: 16px;
	line-height: 30px;
	outline: none;
	border: 1px solid #808080;
	border-radius: 25px;
}

#search-bar>input:focus {
	border-color: #303030;
}

#search-bar>button {
	position: relative;
	display: block;
	width: calc(20% - 12px);
	height: 38px;
	cursor: pointer;
	box-shadow: 2px 2px #808080;
	border: 1px solid #303030;
	border-radius: 25px;
	background-color: #800000;
	background-image: url("search.svg");
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: center;
}

#search-bar>button:active {
	box-shadow: -2px -2px #808080;
}

#option-bar {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	margin: 10px auto;
}

#option-bar>label {
	color: #808080;
	line-height: 20px;
}

#option-bar>input, #option-bar>select {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: 20px;
	padding: 1px 2px;
	line-height: 20px;
	color: #808080;
	outline: none;
	border: 1px solid #d0d0d0;
}

#option-bar>input:focus, #option-bar>select:focus {
	border-color: #808080;
}

#message {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	margin: 10px auto;
	color: #ff0000;
	font-weight: 600;
}

#results {
	position: relative;
	display: block;
	width: 760px;
	height: fit-content;
	margin: 10px auto;
	padding: 20px;
}

@media all and (max-width: 800px) {
	#results {
		width: calc(100% - 40px);
	}
}

#results>div {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
}

#results>div>div {
	position: relative;
	display: flex;
	width: calc(100% - 20px);
	height: fit-content;
	margin: 10px 0px;
	padding: 10px;
	cursor: pointer;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: 10px;
}

#results>div>div>img {
	position: relative;
	display: block;
	width: 160px;
	height: 90px;
	flex: 0 0 160px;
}

#results>div>div>div {
	position: relative;
	display: block;
	width: calc(100% - 170px);
	height: fit-content;
}

#results>div>div>div>.title {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin: 10px 0px;
	color: #303030;
	font-weight: 600;
	line-height: 18px;
}

#results>div>div>div>.desc {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin: 10px 0px 5px;
	color: #808080;
	font-weight: 400;
	line-height: 16px;
}

#results>div>div>div>.time {
	position: relative;
	display: block;
	width: 100%;
	height: fit-content;
	margin: 5px 0px;
	color: #c0c0c0;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

#results embed {
	position: relative;
	display: block;
	width: 400px;
	height: 300px;
	margin: 10px auto;
	border: none;
	resize: both;
	overflow: hidden;
}

#loadmore {
	position: relative;
	display: none;
	width: fit-content;
	height: fit-content;
	margin: 20px auto;
	padding: 20px;
	color: #808080;
	cursor: pointer;
	text-decoration: underline;
}
