@import url("/common.css");

#toolbar {
	position: relative;
	display: flex;
	width: fit-content;
	height: fit-content;
	margin: 30px auto 20px;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: 10px;
}

#toolbar>button, #toolbar>label, #toolbar>input[type=file]::file-selector-button, #apply {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	padding: 5px 10px;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	border: 1px solid #001a1a;
	border-radius: 15px;
	background: #005a5a;
	box-shadow: 3px 5px 6px #808080;
}

#toolbar>button:not(:disabled):active, #toolbar>label:active, #apply:active {
	box-shadow: -5px -5px 6px #808080;
}

#toolbar>button:disabled {
	color: #808080;
	cursor: default;
}

#toolbar>label>input[type="file"] {
	display: none;
}

#option-bar {
	position: relative;
	display: none;
	width: fit-content;
	height: fit-content;
	margin: 10px auto;
}

#option-bar-title {
	position: relative;
	width: fit-content;
	height: fit-content;
	margin: 0px auto 10px;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

#option-bar label {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: 20px;
	line-height: 20px;
}

#option-bar select, #option-bar input {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: 20px;
	outline: none;
	border: 1px solid #808080;
	vertical-align: top;
}

#option-bar select:focus, #option-bar input:focus {
	border-color: #323232;
}

#apply {
	margin: 10px auto;
}

#os-setup-menu {
	position: relative;
	display: none;
	width: fit-content;
	height: fit-content;
	margin: 10px 0px;
}

#screen-container {
	position: relative;
	width: 1024px;
	height: 768px;
	padding: 15px;
	margin: auto;
	border: 1px solid #404040;
	border-radius: 15px;
}

#screen {
	position: absolute;
	display: block;
	width: 1024px;
	height: 768px;
	min-width: 1024px;
	min-height: 768px;
	max-width: 1024px;
	max-height: 768px;
	overflow: hidden;
	background: #000000;
}

#vm {
	position: absolute;
	width: 1024px;
	height: 768px;
	outline: none;
	border: none;
	resize: none;
	white-space: pre-wrap;
	font-size: 16px;
	font-family: monospace;
	font-weight: 600;
	font-style: normal;
	line-height: 16px;
	text-align: start;
	text-decoration: none;
}
