@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	src: url("ubuntu.woff2") format("woff2");
}

@font-face {
	font-family: "Ubuntu Condensed";
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	src: url("ubuntu-condensed.woff2") format("woff2");
}

@font-face {
	font-family: "Ubuntu Mono";
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	src: url("ubuntu-mono.woff2") format("woff2");
}
