html,
body {
  height: 100%;
}

body {
  background: black;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  /*
  set max-width and max-height to canvas 
  width/height respectively
  */
  max-width: 640px;
  max-height: 480px;
  width: 100%;
  height: 100%;
}

canvas {
  outline: 1px solid white;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}